# NyaySathi Environment Variables
# Copy this file to .env and fill in your values

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=nyaysathi

SECRET_KEY=nyaysathi-super-secret-jwt-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
PINECONE_API_KEY=pcsk_2cfbWc_LFHnbfgvCChZqbwrvRu2vVJYrFRiSy5bC4xyKpmP82Lcop9For1jyxJLjCSDEfV
PINECONE_INDEX=nyaysathi-index
GEMINI_API_KEY=pcsk_2cfbWc_LFHnbfgvCChZqbwrvRu2vVJYrFRiSy5bC4xyKpmP82Lcop9For1jyxJLjCSDEfV
